<ul class="github-buttons">
  <li>
      <a href="https://github.com/{{ site.github.username }}/{{ page.repo }}/"
        class="btn-classic" rel="nofollow" title="Star on Github">
          <i class="fa fa-github" aria-hidden="true"></i>
          Star
      </a>
  </li>
  <li>
      <a href="https://github.com/{{ site.github.username }}/{{ page.repo }}/fork/"
        class="btn-classic" rel="nofollow" title="Fork on Github">
          <i class="fa fa-code-fork" aria-hidden="true"></i>
          Fork
      </a>
  </li>
  <li>
    <a href="https://github.com/{{ site.github.username }}/{{ page.repo }}/archive/master.zip"
      class="btn-classic" rel="nofollow" title="Download from Github">
          <i class="fa fa-download" aria-hidden="true"></i>
          Download
    </a>
  </li>
</ul>
