<h3>Share</h3>

<ul class="share-icons">
  <li>
    <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}"
      rel="nofollow" title="Share on Facebook">
          <i class="fa fa-facebook-official" aria-hidden="true"></i>
      </a>
  </li>
  <li>
      <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}"
        rel="nofollow" title="Share on Twitter">
          <i class="fa fa-twitter-square" aria-hidden="true"></i>
      </a>
  </li>
  <li>
      <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}"
        rel="nofollow" title="Share on Google+">
          <i class="fa fa-google-plus-square" aria-hidden="true"></i>
      </a>
  </li>
  <li>
      <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}&summary={{ page.excerp }}&source={{ site.url }}"
        rel="nofollow" title="Share on LinkedIn">
          <i class="fa fa-linkedin-square" aria-hidden="true"></i>
      </a>
  </li>
  <li>
    <a href="mailto:?subject=Shared%20from%20{{ site.url }}&body={{ site.url }}{{ page.url }}"
      rel="nofollow" title="Share by mail">
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
      </a>
  </li>
  <li>
    <a rel="nofollow" href="javascript:window.print()" title="Print this page">
          <i class="fa fa-print" aria-hidden="true"></i>
      </a>
  </li>
</ul>
