#about ul.social-icons {
    list-style: none;
    display: inline-block;
    font-size: 1.5em;
    margin: 0.5em 0 1.5em 0;
    width: 100%;
}

#about ul.social-icons li {
    margin: 0 10px;
    float: left;

    &:first-of-type {
        margin-left: 0;
    }
}

#about ul.social-icons i:hover {
  color: $base-primary-color;
}
